*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Raleway", sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

p{
	font-size: 14px;
}

/*Generic CSS*/
.section-title{
	padding-top: 90px;
	padding-bottom: 90px;
}

.section-title h2{
	position: relative;
	text-align: center;
	color: #000;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.section-title h2:after{
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50%;
	width: 60px;
	height: 2px;
	background-color: #129CF3;
	margin-left: -30px;
}

.section-title p{
	color: #000;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	text-align: center;
	margin-top: 45px;
}

.row1{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.col-grid{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
.col-grid img{
	margin-top: 4px;
	vertical-align: middle;
	width: 100%;
	border-radius: 5px;
}

/*Navigation*/
.navbar-dark{
	padding: 15px 20px;   /*top right bottom left*/
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-dark .navbar-nav .nav-link{
	color: #ccc;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
 	padding: 10px 15px;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #129CF3;
}
.navbar-dark .navbar-nav .nav-link:focus{
	color: #ccc;
}
.navbar-brand img{
	margin-top: -15px;
	margin-bottom: -80px;
	width: 120px;
	padding: 0px;
	margin-left: 75px;
	margin-right: 10px;
	transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.navbar-dark .navbar-nav> .active>a,
.navbar-dark .navbar-nav> .active>:hover,
.navbar-dark .navbar-nav> .active>:focus{
	background-color: transparent;
	color: #129CF3;
}

/*Header*/
.header{
	background-image: url("../images/background/a.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
}

.header-overlay{
	background-color: rgba(0,0,0,0.8);
	padding-top: 140px;
}

.header-text h1{
	color: #fff;
	font-size: 55px;
	line-height: 65px;
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 20px;
	transition-property:all;
}

.header-text p{
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
	padding-bottom: 30px;
}
.header-text h2{
	color: #fff;
	font-size: 30px;
	line-height: 35px;
	font-weight: 300;
}
.header-btns{
	margin-top: 30px;
	margin-bottom: 50px;
	padding-bottom: 30px;
}

.btn-matter,
.btn-matter:focus,
.btn-matter:active,
.btn-matter:visited
{
	color: #fff;
	background:transparent;
	border-color: #039BE5;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 19px;
	text-transform: uppercase;
	border-radius: 3px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

.btn-matter:hover{
	background-color: #039BE5;
	color: #fff;  
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited
{
	color: #A9ADB0;
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 500;
	background: transparent;
	padding-top: 10px;
	padding-bottom: 0px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

.btn-tour:hover{
	color: #fff;
}

.btn-tour p{
	font-size: 10px;
}

/*About Us*/
#white{
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.choose-us-wrapper{
	background-color: rgba(0, 0, 64, 0.2);
	padding-top: 30px;
	padding-bottom: 30px;
}

.about-us-video video{
	margin-top: 8px;
}

..choose-us-title{
	padding-bottom: 50px;
}

.choose-us-title h2{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	position: relative;
}

.choose-us-title h2:after{
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 70px;
	height: 2px;
	background-color: #129CF3;
}

.choose-us-title p{
	color: #000;
	margin-top: 40px;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 30px;
}
.choose-us-item{
	position: relative;
	padding-bottom: 10px;
	padding-left: 80px;
}

.choose-us-item div{
	position: absolute;
	top: 0;
	left: 0;
}

.choose-us-item div i{
	font-size: 50px;
	color: #129CF3;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

.choose-us-item h3{
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
}

.choose-us-item p{
	color: #000;
	font-size: 15px;
}

/*Testimonial*/
.center-block{
	width: 15%;
}

.testimonial{
	background-image: url("../images/background/b1.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-position: 50% 50%;
}

.testimonial-overlay{
	background-color: rgba(0,0,0,0.85);
	padding-top: 80px;
	padding-bottom: 30px;
}
.carousel-indicators{
	bottom: -10px;
}

.carousel-inner .carousel-item img{
	border: 2px solid #129CF3;
	border-radius: 50%;
	padding: 3px;
}

.testimonial-caption{
	padding: 60px;
}

.testimonial-caption h2{
	color: #129CF3;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
	margin-top: 20px;
}

.testimonial-caption h4{
	color: #129CF3;
}

.testimonial-caption h4 span{
	color: #D8D8D8;
	font-style: italic;
	font-weight: 300;
}

.testimonial-caption p{
	color: #D8D8D8;
	font-size: 18px;
	line-height: 27px;
	padding-top: 25px;
}

/*Features*/
.features-inner-wrapper{
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: rgba(0, 0, 64, 0.2);
}
.left-feature-item{
	position: relative;
	padding-right: 90px;
	margin-bottom: 65px;
	text-align: right;
	margin-top: 50px;
}
.left-feature-item-icon{
	position: absolute;
	font-size: 40px;
	color: #129CF3;
	right: 0;
	top: -8px;
	width: 90px;
	height: 90px;
	text-align: center; 
}
.left-feature-item h3{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 25px;
	color: #000;
}
.left-feature-item p{
	color:#000;
	font-size:16px;
	font-weight:300;
	line-height: 25px;
}

.feature-problem img{
	display: block;
  	margin-left: auto;
	margin-right: auto;
	padding-bottom: 35px;
	width: 90%;
}
#imgsize{
	width: 75%;
}
#imgsize2{
	width: 80%;
}

.right-feature-item{
	position: relative;
	padding-left: 90px;
	margin-bottom: 65px;
	margin-top: 50px;
	text-align: left;
}
.right-feature-item-icon{
	position: absolute;
	font-size: 40px;
	color: #129CF3;
	left: 0;
	top: -8px;
	width: 90px;
	height: 90px;
	text-align: center;
}
.right-feature-item h3{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 25px;
	color: #000;
}
.right-feature-item p{
	color:#000;
	font-size:16px;
	font-weight:300;
	line-height: 25px;
}


/*Donate  now*/
.donate-now{
	background-color: #1A1A1A;
	padding-top: 100px;
	padding-bottom: 70px;
}

.donate-now p{
	color: #dfdfdf;
	font-size: 18px;
	font-weight: 300;
}

.btn-donate-now,
.btn-donate-now:active,
.btn-donate-now:focus,
.btn-donate-now:visited
{
	background-color: #129CF3;
	border: 1px solid #129CF3;
	color: #fff;
	border-radius: 50px;
	margin: 5px;
	padding: 15px 35px;
	text-transform: uppercase;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
.btn-donate-now:hover{
	background-color: #1274B1;
	border-color: #316B90;
}

/*Counters*/
.counter{
	background-image: url("../images/background/b6.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.counter-overlay{
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: rgba(0,0,0,0.8);
}

.counter-item i{
	color: #129CF3;
	font-size: 60px;
}

.counter-item h2{
	color: #d7dadb;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 35px;
	margin-top: 15px;
	margin-bottom: 1px;
	font-family: "Source Sans Pro", sans-serif;
}

.counter-item p{
	color: #D7DADB;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: "Source Sans Pro", sans-serif;
}

/*Contact Us*/

.contact-us-form{
	background-color: rgba(0, 0, 64, 0.2);
	padding-top: 50px;
	padding-bottom: 50px;
}

.contact-us-form .form-control{
	display: block;
	width: 100%;
	height: 50px;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 3px;
	margin-bottom: 15px;
	opacity: .8;
	outline: 0px !important;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

#message{
	height: 117px;
	resize: none;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited{
	background-color: transparent;
	border: 2px solid #129CF3;
	border-radius: 4px;
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	color: #129CF3;
	outline: 0px !important;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
.submit-btn:hover{
	background: #129CF3;
	color: #fff;
	border-color: #129CF3;
}

.social-icons{
	padding-top: 50px;
	padding-bottom: 50px;
}

.social-icons ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

.social-icons ul li{
	list-style: none;
	display: inline;
	padding-left: 100px;
}

.social-icons ul li a{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 3px;
	width: 45px;
	height: 45px;
	line-height: 49px;
	color: #555;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

.social-icons ul li a:hover{
	background-color: #129CF3;
	border: 1px solid #129CF3;
	color: #fff;
}

.social-icons ul li a i{
	font-size: 25px;
}

/*footer*/
.footer{
	background-color: #1A1A1A;
	padding-bottom: 60px;
	padding-top: 35px;
	border-bottom: 3px solid #129CF3;
}

.footer-title {
	margin:0;
	margin-bottom:15px;
	color:rgba(255,255,255,.6);
	font-weight:400;
	font-size:20px;
	text-transform:uppercase;
	position:relative;
}
.footer-title:after {
	content:"";
	display:block;
	margin-top:13px;
	width:100%;
	height:2px;
	background-color:rgba(255,255,255,.6);
	transform:scaleX(.2) translateZ(0);
	transform-origin:0;
	transition:transform .3s ease;
}
.footer-col:hover .footer-title:after {
	transform:scaleX(1) translateZ(0);
	transition:transform .3s ease;
}
.footer-sm-block {
	border-radius: 15px;
	color: #129CF3;
	display:flex;
	width:100%;
	background-color:rgba(255,255,255,.08);
	align-items:center;
	margin-bottom: 8px;
	transition:all 250ms linear;
}
.footer-sm-block .fa {
	border-radius: 50%;
	width:36px;
	height:36px;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-grow:0;
	flex-shrink:0;
	text-align:center;
	background-color:rgba(255,255,255,.05);
}
.footer-sm-block .footer-sm-text {
	margin-left:15px;
	font-size:14px;
	flex-grow:1;
	flex-shrink:1;
}
.footer-sm-block:hover {
	background-color:rgba(255,255,255,.2);
	color:#fff;
}

#copyright{
	width: 100%;
	margin-left: -80px;
}
#copyright p{
	color: #8C8BBA;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 5px;
}
#copyright p a{
	text-decoration: none;
	color: #129CF3;
}

.footer-links ul {
	list-style:none;
	margin:0;
	padding:0;
	margin-top:-10px;
	margin-bottom: 20px;
}
.footer-links ul li {
	padding:0;
	margin:0;
	color:#129CF3;
	padding-bottom: 1px;
}
.footer-links ul li a{
	color:#129CF3;
}
.footer-links a,
.footer-links a:focus,
.footer-links a:link,
.footer-links a:visited {
	display:block;
	text-decoration:none;
	font-size:14px;
	padding:3px 0px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.footer-links a:hover {
	color:#EEE;
}
.language{
	display: inline-block;
	text-align: right;
	padding-bottom: 0px;
	padding-top: 0px;
}
.languagepicker {
	-webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
	width: 260px;
	height: 40px;
	border: 1px solid #129CF3;
	border-bottom: 2px #129CF3 solid;
	border-radius: 15px;
	line-height: normal;
    padding: 7px 10px 6px 10px;
    background: url("../images/arrow.png") 95% /10px no-repeat rgba(255,255,255,.08);
    margin-top: 1px;
    font-size: 14px;
    color: #129CF3;
}

.footer-col img{
	width: 120px;
	margin-top: 20px;
	margin-left: 35px;
}

.scroll-top{
	margin-top: 90px;
	margin-left: 75px;
	display: inline-block;
}
.scroll-top a{
	text-align: center;
	background-color: #129CF3;
	padding: 15px;
}
.scroll-top a i{
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 25px;
}
