*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Raleway", sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

p{
	font-size: 14px;
}

/*Generic CSS*/
.section-title{
	padding-top: 90px;
	padding-bottom: 50px;
}

.section-title h2{
	position: relative;
	text-align: center;
	color: #333;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.section-title h2:after{
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50%;
	width: 60px;
	height: 1px;
	background-color: #129CF3;
	margin-left: -30px;
}

.section-title p{
	color: #333;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	text-align: center;
	margin-top: 45px;
}

.row1{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.col-grid{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
.col-grid img{
	margin-top: 4px;
	vertical-align: middle;
	width: 100%;
	border-radius: 5px;
}

/*Header*/
.header{
	background-image: url("../images/background/a.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
}

.header-overlay{
	background-color: rgba(0,0,0,0.81);
}

#main-logo{
	width: 10%;
	padding-bottom: 30px;
	padding-top: 20px;
}

.header-text h1{
	font-family: 'Bad Script', cursive; 
	color: #fff;
	font-size: 45px;
	font-weight: 500;
	line-height: 50px;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;
	transition-property:all;
}

.header-text p{
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
	padding-bottom: 30px;
}
.header-text h2{
	color: #fff;
	font-size: 30px;
	line-height: 35px;
	font-weight: 300;
}
.header-btns{
	margin-top: 30px;
	margin-bottom: 50px;
	padding-bottom: 30px;
}

.btn-matter,
.btn-matter:focus,
.btn-matter:active,
.btn-matter:visited
{
	color: #fff;
	background:transparent;
	border-color: #039BE5;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 19px;
	text-transform: uppercase;
	border-radius: 3px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

.btn-matter:hover{
	background-color: #039BE5;
	color: #fff;  
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited
{
	color: #A9ADB0;
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 500;
	background: transparent;
	padding-top: 10px;
	padding-bottom: 0px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

.btn-tour:hover{
	color: #fff;
}

.btn-tour p{
	font-size: 10px;
}

/*About Us*/
.choose-us-wrapper{
	padding-top: 30px;
}

.about-us-video video{
	margin-top: 8px;
}

..choose-us-title{
	padding-bottom: 50px;
}

.choose-us-title h2{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	position: relative;
}

.choose-us-title h2:after{
	content: "";
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 70px;
	height: 1px;
	background-color: #129CF3;
}

.choose-us-title p{
	margin-top: 40px;
	font-size: 19px;
	line-height: 24px;
	padding-bottom: 10px;
}
.choose-us-item{
	position: relative;
	padding-bottom: 4px;
	padding-left: 80px;
}

.choose-us-item div{
	position: absolute;
	top: 0;
	left: 0;
}

.choose-us-item div i{
	font-size: 55px;
	color: #129CF3;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}

.choose-us-item h3{
	color: #343434;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
}

.choose-us-item p{
	color: #4D4D4D;
	font-size: 15px;
}